* {
    margin: 0; 
    padding: 0;
    }
.top{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.container{
    max-width: 1140px;
    margin: 0 auto; 
}   
.container_new{
    margin: 0 auto; 
}
   
body{
    font-style: normal;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}
p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
.head2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
h3{
    font-size: 36px; 
    text-align: center;
}
.input {
    border: 1px solid #356EAD; 
    box-sizing: border-box; 
    border-radius: 10px; 
    opacity: 0.4;
}
.button {
    background: #5A98D0; 
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2); 
    border-radius: 10px; 
    font-weight: 500; 
    font-size: 16px;
    line-height: 26px; 
    text-align: center; 
    color: #FFFFFF; 
    text-transform: uppercase;
}
.main_frame {
    border: 4px solid orange;
    margin-top: 20px;
}
.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.heading {
    padding-top: 115px;
    flex-grow: 1; 
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}
.top_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.h1{
    width: 504px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}
.text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    width: 425px;
    height: 82px;
}
.top_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}
.heading3{
padding-top: 64px;
}
.h3_1{
    font-weight: 300;
line-height: 46px;
letter-spacing: 0.05em;
color: #000000;
}
.content{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}
.card_img{
    align-self: center;
    margin-bottom: 51px;
}
.block {
    width: 359px;
    text-align: center;
    padding: 44px 32px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}
.heading_mini{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    text-align: left;
    margin-bottom: 14px;
    width: 295px;
}
.text1{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    text-align: left;
}
.card_link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    text-align: left;
    margin-top: 30px;
}

.lasth{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 64px;
}
.new_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #222222;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 64px;
}
.project{}

.project_item{
    position: relative;
    flex-grow: 1;
}

.project_img{
    width: 100%;
}
.project_text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}
.project_text_1{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}
.project_parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.project_item_margin{
    margin-right: 32px;
}
.frame {
    height: 657px;
    width: 100%;
    background: #316099;
    margin-top: 112px;
    padding-top: 91px;
    align-items: center;
}

.main_footer{
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 340.96px;
    height: 92px;
    left: 113px;
    text-align: left;
}
.footer_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    width: 494.77px;
    height: 80px;
    margin-top: 32px;
    margin-bottom: 96px;
}
.for_button{
    display: flex;
    justify-content: space-between;
}
.line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}
.li {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #FFFFFF;
margin-top: 64px;
line-height: 3;
}
.li_new{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #FFFFFF;
margin-top: 64px;
margin-bottom: 64px;
list-style-type: none;
}
.rights{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}
.c_main_block{
    margin-top: 32px;
    padding-top: 32px;
    margin-bottom: 60px;
    flex-grow: 1; 
    width: 100%;
    align-self: center;
    background-image:url(img/c_back.png)
}

.c_text{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 780px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 32px;
    margin-left: 160px;
}
.adress{
    margin-top: 40px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.head2{
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.button_footer{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 133.04px;
    height: 31.48px;
    background: #5A98D0;
    text-decoration: none;
    margin-top: 100px;
}
.contact_us{
}
.numbers {
    list-style-type: none;
    margin: 10px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.4;

}
.input{
opacity: 0.2;
border: 1px solid #356EAD;
box-sizing: border-box;
border-radius: 10px;
height: 64px;
width: 428px;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.04em;
color: #1F3F68;
opacity: 0.2;
padding-left: 20px;
margin-bottom: 70px;
}
.input_1{
    opacity: 0.4;
    width: 428px;
    height: 144px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
}
 .text_forms{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
 }
 .button_submit{
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
margin-top: 50px;
}
.message{
    background: #FFFFFF;
box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
border-radius: 10px;
padding: 50px;
}
 .adress_mes{
     margin-bottom: 48px;
 }
.number_text{
    margin-bottom: 16px;
}
.c_text_2{
    font-weight: 300;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.04em;
color: #1F3F68;
opacity: 0.6;
width: 299px;
margin-top: 24px;
}
.page2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.map{
    margin-top: 96px;
    margin-bottom: 112px;
}
@media (max-width: 1024px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .heading{
        background-position:right 200px;
        width: 100%;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .block{
        margin-bottom: 32px;
    }
    .li{
        flex-direction: column;
        align-items: center;
        padding: 23px;
    }
    .c_text{
        font-size: 20px;
        line-height: 30px;
        align-items: center;
    }
    .page2{
        flex-direction: column;
    }
    .message{
        margin-top: 32px;
    }

}

@media (max-width: 667px){
    .menu{
        padding-top: 24px;
    }
    .top{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .heading{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        width: 100%;
    }
    .h1{
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        width: 100%;
        width: 343px;
        height: 76px;
        text-align: left;
    }
    .text{
        width: 100%;
        text-align: center;
    }
    .top_button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    .h3_1{
        font-size: 24px;
    line-height: 28px;
    }
    .heading3{
        padding-top: 48px;
    }
    .content{
        padding-top: 32px;
    }
    .block{
        width: 100%;
    }
    .new_text{
        width: 100%;
    }
    .project_text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project_text_1{
        left: 16px;
    }
    .project_parent{
        flex-direction: column;
        margin-top: 16px;
    }
    .project_item_margin{
        margin-right: 0;
        margin-bottom: 16px;
    }
    .main_footer{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .footer_text{
        width: 343px;
        height: 97px;
        text-align: center;
        margin-bottom: 0;
    }
    .for_button{
        flex-direction: column;
        flex-grow: 1;
    }
    .button_footer{
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0 8px;
    }
}